datacenter = "dc1"
data_dir = "/opt/consul"
encrypt = "{{ CONSUL_GOSSIP_KEY }}"
verify_incoming = true
verify_outgoing = true
verify_server_hostname = true

server = false

bind_addr = "{{ private_ip }}"

ca_file = "/etc/consul.d/certs/consul-agent-ca.pem"

auto_encrypt {
  tls = true
}


retry_join = [{{servers}}]

#retry_join = ["provider=aws tag_key=Name tag_value=consul"]
#retry_join = [{% for result in hostvars[inventory_hostname]["groups"]["consul_servers"] %}"{{ result }}", {% endfor %}]
