# Increase log verbosity
log_level = "DEBUG"

# Setup data dir
data_dir = "/opt/nomad"

datacenter = "dc1"

#bind_addr = "{{private_ip}}" # was private_ip, but for Contabo, it was same as public

# Enable the client
client {
  enabled = true

}

# Require TLS
tls {
  http = true
  rpc  = true

  ca_file   = "/etc/nomad.d/certs/nomad-ca.pem"
  cert_file = "/etc/nomad.d/certs/client.pem"
  key_file  = "/etc/nomad.d/certs/client-key.pem"

  verify_server_hostname = true
  verify_https_client    = true
}

consul{
  token = "{{NOMAD_CLIENT_CONSUL_TOKEN}}"
}
